*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
 .navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
    width: 70%;
    margin: auto;
}
.navlist{
    display: flex;
    gap: 4rem;
}
.fa-solid fa-magnifying-glass-location
{
    font-size: 50px;
}
.fa-solid fa-cart-shopping
 {
    font-size: 50px;
 }
 .fa-solid fa-user
 {
    font-size: 50px;
 }
.navbar .logo{
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
}
.navlist li{
    list-style: none;
}
.navlist a{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(35,35,35);
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.slider{
    position: relative;
    width: 100%;

}
.images{
    display: flex;
    width: 100%;

}
.images img{
    height: 500px;
    width:100% ;
    transition: all 0.15s ease-in;
}
.images input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid black 3px;
    cursor: pointer;
    transition: all 0.15sec ease-in;
}
.dots label:hover{
    background: black;
}

.cards{
    width: 20%;
    border-radius: 5px;
}
.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.des{
    text-align: center;
}
.button{
    background-color:#f3f3f3;
    border: 2px solid black;
    cursor:pointer;
}
button:hover{
    background-color: black;
    color: #f3f3f3;
    transition: 1s;
}

.banner{
    width:600%;
    height: auto;
     background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/Paste\ image\ \(2\).png);
background-repeat: no-repeat;
background-size: contain;
}
.banner-content{
    text-align: center;
    padding: 150px 10% 10px;

}
.banner-content h5{
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.banner-content h3{
    color:#f3f3f3;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}
.banner-content p{
    color:white;
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.banner-content button a{
    text-decoration: none;
    color:white;
    font-weight: bold;

}
.banner-content button{
    width: 160px;
    height: 36px;
    margin-top : 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.banner-content button:hover{
    background: #388b6f;
    border:none;

}
footer{
background-color: #111;
}
.footercontainer{
    width: 100%;
    padding: 50px 20px 10px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;

}
.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;

}
.social-icons a:hover i{
    color: white;
    transition: 0.5s;

}
.footernavbar{
    margin: 30px 0;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity:0.7;
    transition: 0.5s;
}
li a:hover{
    opacity:none;
}
.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: white;

}


